@import 'variables';

mat-sidenav-container#explorer-sidenav-container {
  height: 100%;
  border: 1px gray solid;
  display: flex;
  position: absolute;

  mat-sidenav {
    border: 1px gray solid;
    overflow: hidden;
  }
}

mat-sidenav-content#explorer-sidenav-content {
  width: 100%;
}

arch-explorer-dock {
  padding-top: 30px;
}
// arch-explorer-canvas {
//   flex: 30;
// }

// arch-viewer-terminal {
//   flex: 3;
// }

#svg-board {
  overflow: auto;
  // position: relative;
  height: 100%;
  width: 100%;
}
