<h1 mat-dialog-title>Angular Application Folders</h1>

<div mat-dialog-content class="dialog-content">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" [disabled]="true">
      <mat-expansion-panel-header class="application-folder-input" [expandedHeight]="'100%'">

        <div class="app-folder-container">
          <!-- <mat-form-field>
            <mat-select placeholder="Existing Applications">
              <mat-option *ngFor="let config of existingConfigs" [value]="config">
                {{config}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field>
            <input matInput placeholder="Application folder"
              [formControl]="formControllers.root" [errorStateMatcher]="matcher"
              (keyup)="onChangeApplicationFolder('root')">
          </mat-form-field>
        </div>

      </mat-expansion-panel-header>

      <div class="project-config-folders-input">
        <mat-form-field>
          <input matInput placeholder="Root folder"
            [formControl]="formControllers.root" [errorStateMatcher]="matcher"
            (keyup)="onEnter('root')">

          <mat-hint>The folder contains 'package.json'</mat-hint>
          <mat-error *ngIf="formControllers.root.hasError('notExist')">
            Please enter an existing folder
          </mat-error>

          <ng-container
            *ngTemplateOutlet="flagIcon;context:{flag: flags.root}">
          </ng-container>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Source code(src) folder"
            [formControl]="formControllers.app" [errorStateMatcher]="matcher"
            (keyup)="onEnter('app')">

          <mat-hint>The folder contains 'index.html' and 'app' folder</mat-hint>
          <mat-error *ngIf="formControllers.app.hasError('notExist')">
            PPlease enter an existing folder
          </mat-error>

          <ng-container
            *ngTemplateOutlet="flagIcon;context:{flag: flags.app}">
          </ng-container>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Main file"
            [formControl]="formControllers.main" [errorStateMatcher]="matcher"
            (keyup)="onEnter('main')">

          <mat-hint>Angular application main entry point(main.ts)</mat-hint>
          <mat-error *ngIf="formControllers.main.hasError('notExist')">
            Please enter an existing typescript file(main.ts).
          </mat-error>

          <ng-container
            *ngTemplateOutlet="flagIcon;context:{flag: flags.main}">
          </ng-container>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onClickApply()" cdkFocusInitial>Apply</button>
</div>

<ng-template #flagIcon let-flag="flag">
    <i class="material-icons" *ngIf="flag ==='None'" [ngClass]="flag">mode_edit</i>
    <i class="material-icons" *ngIf="flag ==='Failure'" [ngClass]="flag">error</i>
    <i class="material-icons" *ngIf="flag ==='Passed'" [ngClass]="flag">check</i>
</ng-template>
