$arch-header-height: 42px;
$app-header-height: 42px;
$app-navigation-width: 120px;
$app-content-summary-width: 200px;
$app-navigation-divider-width: 15px;
$app-content-header-height: 30px;

$arch-blue-color: #285d9e;

$app-blue-color: #1e5799;
$app-red-color: #fb1b1c;
$warn-pink-color: #fdc8c8;
$warn-red-color: #ff5757;
$title-green-color: lightseagreen;
