<div class="angular-cli-usage">
  <div class="version-bar">
    <span>Cli Version:</span>
    <mat-button-toggle-group>
      <mat-button-toggle *ngFor="let version of versions" value="{{version}}"
          [checked]="this.selectedVersion===version" (click)="changeVersion(version)">
        {{version}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="command-bar">
    <!-- <button class="cli-command-menu" mat-button [matMenuTriggerFor]="menu">
        Angular Cli Commands
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let command of commands"
        (click)="changeCommand(command)">ng {{command}}</button>
    </mat-menu>
    <span *ngIf="!!selectedCommand">ng {{selectedCommand}}</span> -->
    <span>Command:</span>
    <mat-button-toggle-group>
      <mat-button-toggle *ngFor="let command of commands" value="{{command}}"
          [checked]="this.selectedCommand===command" (click)="changeCommand(command)">
        {{command}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="command-description">
    <div class="cli-subtitle">Overview</div>
    <div class="description-content">{{ currentOverview?.description }}</div>
  </div>

  <div class="command-details">
    <hr>
    <div>{{ currentOverview?.details }}</div>
  </div>

  <div class="cli-subtitle">Usage & Options:</div>

  <div class="cli-panel">
    <mat-accordion [multi]="true">
      <mat-expansion-panel *ngFor="let command of currentUsage?.commands; let index = index"
          [expanded]="index===0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="command.template">
              {{command.template | titlecase}} :
            </span>
            <span class="sample-command">
              {{ getSampleCommand(command) }}
            </span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="command-usage">
              {{command.description}}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="flow-card" *ngFor="let option of command.options">
          <mat-card>
            <div class="option-name">{{option.option}}</div>
            <div class="option-usage">--{{option.option}}
              <span class="option-alias" *ngIf="option.alias">
                (alias: -{{option.alias}})
              </span>
            </div>
            <div class="option-description">{{option.description}}</div>
          </mat-card>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
