<div id="arch-header">
  <img src="./../../assets/ngarch_red_100.png">
  <img class="gray-gear gray-gear1" src="./../../assets/gear_gray_100.png">
  <img class="gray-gear gray-gear2" src="./../../assets/gear_gray_100.png">
  <img class="gray-gear gray-gear3" src="./../../assets/gear_gray_100.png">
  <img class="gray-gear gray-gear4" src="./../../assets/gear_gray_100.png">
  <img class="gray-gear gray-gear5" src="./../../assets/gear_gray_100.png">
  <span class="sub-title">Angular Application Architecture Tool</span>

  <div class="project-config">
      <a (click)="openDialog()">Config</a>
    </div>
</div>
