@import "variables";

#app-header {
  background: #f1f4ff;
  border-bottom: 2px ridge gainsboro;
  height: $app-header-height - 2px;

  .project-info {

    .gear-icon {
      position: absolute;
      padding-left: 10px;
      padding-top: 5px;
      opacity: 0.4;

      button {
        cursor: pointer;
      }

      i {
        font-size: 30px;
      }

      img {
        padding-left: 12px;
        padding-top: 1px;
      }
    }

    .project-text {
      padding-left: 82px;
      padding-top: 2px;
      display: inline-block;

      .project-dependencies {
        white-space: nowrap;
      }

      .project-name {
        color: cornflowerblue;
      }

      .left-margin {
        margin-left: 20px;
      }

      .project-version {
        font-size: 14px;
        color: darkgray
      }

      .project-description {
        font-size: 14px;
        color: darkgray
      }
    }
  }
}
