<p>
  <b>Scrolling</b> to zoom in and out the diagram.
</p>

<p>
  <b>Single Click</b> the node to show or hide its details. The detail is based on the viewer type.
</p>

<p>
  <b>Double Click</b> the node to open a window to display the node's details. The detail is based on the viewer type.
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_activity_diagram.png"> to open <b>Architecture View</b>.
  The Architecture View starts from one NgModule through its routes, then, shows component hierarchy base on component's template
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_dependency_diagram.png"> to open <b>Service Dependency Diagram</b> to
  displays service dependency injection tree to illustrate the service dependency relationships.
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_structure_diagram.png">
  to open <b>Structure Diagram</b> for NgModule and Component, expose the whole/part relationship of NgModule and Component.
</p>
<ul>
  <li>Use NgModule's metadata to show what it includes and provides.</li>
  <li>Use Component template to show the component's hierarchy</li>
</ul>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_class_visualizer.png">
  to open <b>Class Visualizer</b> to visualize the class metadata properties, constructor parameters, attributes and methods.
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_cli.png"> to open <b>Angular Cli</b> execution.
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_collapse.png"> to toggle <b>collapse</b> and <b>expand</b> the children's nodes.
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_typescript.png"> to display <b>TypeScript</b> code.
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_html.png"> to display <b>HTML</b> code.
</p>

<p>
  Select <img class="action-icon-class" src="./../../assets/actions/action_css.png"> to display <b>CSS</b> code.
</p>
