:host {
  display: block;
  width: 100%;
  height: 100%;
}

#svg-board {
  height: 100%;
  overflow: hidden;
}

.viewer-header-bar {
  padding-top: 5px;
}

.viewer-header {
  padding-left: 15px;
  font-weight: 600;
}

.action-icon-class {
  width: 20px;
}

.viewer-explanation-icon {
  margin-left: 6px;
  position: absolute;
  top: 4px;
  cursor: pointer;

  .material-icons {
    color: #fb1b1b;
    font-size: 18px;
  }
}
