<div id="app-header">
  <div class="project-info" *ngIf="projectInfo">

    <div class="gear-icon">
      <img src="../../assets/gears.png" height="30px">
    </div>

    <div class="project-text">
        <div>
          <span class="project-name">{{projectInfo.name}}</span>
          <span class="project-version"> - {{projectInfo.version}}</span>
        </div>

        <div>
          <span class="project-description">{{projectInfo.description}}</span>
        </div>
    </div>
  </div>
</div>
