<div class="ponent-summary-canvas">

  <ng-container *ngFor="let section of summarySections">
    <ng-container *ngIf="section && !section.isDisable">
      <arch-summary-section class="summary-section-container" [section]="section" [defaultExpanded]="true">
      </arch-summary-section>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let detail of summaryDetail">
    <ng-container *ngIf="detail && !detail.isDisable">
      <arch-summary-section class="summary-detail-container" [section]="detail" [defaultExpanded]="false">
      </arch-summary-section>
    </ng-container>
  </ng-container>

</div>
