
.ponent-summary-canvas {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100%;

  .summary-section-container {
    // border: 1px solid gray;
    margin: 20px 30px;
    min-width: 300px;
    max-width: 500px;
  }

  .summary-detail-container {
    margin: 10px 30px;
    min-width: 300px;
  }
}
