@import '_variables';

.tab-captions {
  display: inline-flex;
}

.tab-caption {
  display: inline-block;
  padding: 5px 10px 4px 10px;
  border-top: 1px gray solid;
  border-left: 1px gray solid;
  border-right: 1px gray solid;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

// .tab-caption:not(:first-child) {
//   margin-left: -5px;
// }

.tab-caption.active {
  z-index: 0;
}

.tab-caption.inactive {
  border-bottom: 1px lightgray solid;
  background-color: #ececec;
  cursor: pointer;
}

.tab-caption.disabled {
  border-bottom: 1px lightgray solid;
  background-color: #ececec;
  cursor: default;
  color: #b0b0b0;
}

/* theme: panel-tabs */
:host(.panel-tabs) {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.panel-caption {
  font-size: 12px;
  padding-bottom: 3px;
}

.panel-caption.active {
  background: linear-gradient(to bottom, #e4f0f7 0%, #98d6ff 100%);
}

/* theme: workspace-tabs */
:host(.workspace-tabs) {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 3px;
  margin-top: 2px;
}

.workspace-caption {
  font-size: 15px;
  color: $arch-blue-color;
  font-weight: 600;
}

.workspace-caption.active {
  background: linear-gradient(to bottom, #a7c7dc 0%,#99d4fb 100%);
}

.tabs-single-panel {
  border: 1px lightgray solid;
  display: inline-block;
  width: 100%;
  height: calc(100% - 25px);
  box-shadow: 3px 4px 12px -1px rgba(0,0,0,0.75);
}
