.ngx-flow-panel {
  z-index: 9999;
  position: absolute;
  left: 70%;
  top: 100px;
  border:3px ridge #d7d6d6;
  background-color: white;
  min-width: 300px;
  box-shadow:5px 5px 18px 0px #cfcfcf ;

  .ngx-flow-panel-header {
    min-width: 300px;
    height: 25px;
    background: lightgrey;
    cursor: pointer;
    display: flex;

    .ngx-panel-header-title {
      text-align: center;
      font-size: 14px;
      padding-top: 5px;
      flex: 1;
    }

    .ngx-panel-header-right-side {
      width: 26px;
    }

  }

}

.ngx-flow-panel.expanded {
  .ngx-flow-panel-header {
    border-bottom: groove #e8dede 2px;
  }
}

mwlResizable {
  box-sizing: border-box;
}
