@import "variables";

#arch-root-container {
  height: 100%;

  #arch-navigation {
    width: $app-navigation-width;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 0px 6px #a6a6a7;
  }

  .arch-navigation-drag-icon {
    // top: 10px;
    // left: -10px;
    z-index: 9999;
    cursor: pointer;
    color: #5594c1;
    text-shadow: 1px 1px 10px #85a7bf;
  }

  #arch-content {
    margin-left: $app-navigation-divider-width;
    height: 100%;
  }

  .expander-bar {
    height: 100%;
    width: $app-navigation-divider-width;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 50%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 50%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(204,204,204,1) 0%,rgba(238,238,238,1) 50%, rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 3px 0px 12px -1px rgba(0,0,0,0.75);
  }

  .navigation-expand-icon {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 50px;
  }

  .arch-app-body {
    flex: 1;
  }
}

arch-header {
  height: $arch-header-height;
}

arch-app-header {
  height: $app-header-height;
}

arch-dashboard {
  position: absolute;
  top: 85px;
  z-index: 200;
  width: 100%;
  height: 100%;
}

#arch-content-container {
  overflow: hidden;
}
