<div id="arch-root-container" fxLayout="column">
  <arch-header></arch-header>
  <arch-app-header (clickTopMenu)="onToggleDashboard()"></arch-app-header>

  <mat-sidenav-container class="arch-app-body">
    <mat-sidenav id="arch-navigation" #sidenav mode="side" [(opened)]="opened">
      <arch-navigation></arch-navigation>
    </mat-sidenav>

    <mat-sidenav-content id="arch-content-container">
      <div class="expander-bar arch-navigation-drag-icon"
          (click)="toggleExpandNavigation()">
        <i class="navigation-expand-icon material-icons">{{opened ? "chevron_left" : "chevron_right"}}</i>
      </div>

      <div id="arch-content">
        <router-outlet></router-outlet>

        <arch-dashboard [ngStyle]="{'display': dashboardOpened ? 'block': 'none'}"></arch-dashboard>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<arch-welcome-page *ngIf="hasWelcomePage" [isServerError]="isServerError"></arch-welcome-page>

<arch-project-loader-overlay *ngIf="useOverlay" (closeOverlay)="closeOverlay($event)"></arch-project-loader-overlay>
