<div id="arch-root-container" fxLayout="column">
  <arch-arch-header></arch-arch-header>
  <arch-app-header></arch-app-header>

  <mat-sidenav-container class="arch-app-body">
    <mat-sidenav id="arch-navigation" #sidenav mode="side" [(opened)]="opened">
      <arch-arch-navigation></arch-arch-navigation>

    </mat-sidenav>

    <mat-sidenav-content id="arch-content-container">
      <div class="expander-bar arch-navigation-drag-icon"
          (click)="opened = !opened">
        <i class="navigation-expand-icon material-icons">{{opened ? "chevron_left" : "chevron_right"}}</i>
      </div>

      <!-- <div class="arch-navigation-drop-area"></div> -->

      <div id="arch-content">
        <router-outlet></router-outlet>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<arch-project-loader-overlay *ngIf="useOverlay" (closeOverlay)="closeOverlay($event)">
</arch-project-loader-overlay>
