:host {
  display: flex;
  flex-direction: column;
  margin: 15px 5px 5px 10px;
  height: calc(100% - 20px);
  width: calc(100% - 15px);
}

.section-name {
  font-size: 16px;
}

.routes-content {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
