<div class="loading-group-table-container"
[class.isolated-ponent]="archNgPonent.isIsolatedPonent">
  <span class="ponent-name">{{archNgPonent.name}} - ({{archNgPonent.ngPonentType}})</span>
  <span class="ponent-unused" *ngIf="isUnused">Unused</span>
  <span class="ponent-filename">{{replaceRootPath(archNgPonent.fileName)}}</span>

  <div class="rTable" *ngIf="hasMetadata">
    <div class="rTableRow" *ngFor="let property of usedProperties">
      <div class="rTableCell cell-property">{{property}}</div>
      <div class="rTableCell">{{archMetadata[property] | commaWithSpace}}</div>
    </div>
  </div>

  <div class="rTable" *ngIf="hasTsMembers">
    <div class="rTableRow" *ngFor="let key of tsKeys">
      <div class="rTableCell cell-property">{{key}}</div>
      <div class="rTableCell">{{tsValues[key] | commaWithSpace}}</div>
    </div>
  </div>
</div>
