@import "variables";

:host {
  .loading-group-table-container {
    margin: 20px 20px 30px 20px;

    .ponent-name {
      margin-left: 2px;
      font-size: 14px;
    }

    .ponent-unused {
      font-size: 11px;
      font-weight: 600;
      background-color: $warn-red-color;
      padding: 2px 6px;
      border-radius: 10px;
    }

    .ponent-filename {
      font-size: 12px;
      margin-left: 20px;
    }
  }

  .rTable {
      display: table;
      width: 100%;
  }
  .rTableRow {
      display: table-row;
  }
  .rTableHeading {
      display: table-header-group;
      background-color: #ddd;
  }
  .rTableCell, .rTableHead {
      display: table-cell;
      padding: 3px 10px;
      border: 1px solid #999999;
  }
  .rTableHeading {
      display: table-header-group;
      background-color: #ddd;
      font-weight: bold;
  }
  .rTableFoot {
      display: table-footer-group;
      font-weight: bold;
      background-color: #ddd;
  }
  .rTableBody {
      display: table-row-group;
  }

  .cell-property {
    // display: inline-block;
    // padding-right: 30px;
    width: 150px;
  }

  .isolated-ponent {
    background-color: $warn-pink-color;
  }
}
