<div class="dashboard-title">
  Dashboard
</div>

<div class="diagram-container">

  <div class="diagram-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
    <div class="diagram-tile" fxFlex="40%" fxFlex.lt-md="100%">
      <div class="diagram-svg">
        <arch-module-structure-viewer [tianLayout]="false" initialScale="0.5"></arch-module-structure-viewer>
      </div>
      <div class="diagram-description">
        <span (click)="navigateTo('module')" class="link-icon material-icons">dynamic_feed</span>
        <span (click)="navigateTo('module')" class="description-subject">Module Structure</span>
        It identifies the module's own components, directives, and pipes, making some of them public, through the exports property, so that external components can use them.
      </div>
    </div>

    <div class="diagram-tile" fxFlex="60%" fxFlex.lt-md="100%">
      <div class="diagram-svg">
        <arch-ng-app-viewer viewerId="app-arch" contentHierarchyKey="FullView"></arch-ng-app-viewer>
      </div>
      <div class="diagram-description">
        <span (click)="navigateTo('overview')" class="link-icon material-icons">dynamic_feed</span>
        <span (click)="navigateTo('overview')" class="description-subject">Overview</span>
        It identifies the module's own components, directives, and pipes, making some of them public, through the exports property, so that external components can use them.
      </div>
    </div>
  </div>

  <div class="diagram-row" fxLayout="row" fxLayout.sm="column" fxLayoutGap="24px">
    <div class="diagram-tile" fxFlex="40%" fxFlex.lt-md="100%">
      <div class="diagram-svg">
        <arch-ng-app-viewer viewerId="component-hierarchy" contentHierarchyKey="ComponentHierarchy"></arch-ng-app-viewer>
      </div>
      <div class="diagram-description">
        <span (click)="navigateTo('component')" class="link-icon material-icons">dynamic_feed</span>
        <span (click)="navigateTo('component')" class="description-subject">Component Hierarchy</span>
        It identifies the module's own components, directives, and pipes, making some of them public, through the exports property, so that external components can use them.
      </div>
    </div>

    <div class="diagram-tile" fxFlex="60%" fxFlex.lt-md="100%">
      <div class="diagram-svg">
        <arch-ng-app-viewer viewerId="app-arch" contentHierarchyKey="InjectorHierarchy"></arch-ng-app-viewer>
      </div>
      <div class="diagram-description">
        <span (click)="navigateTo('injector')" class="link-icon material-icons">dynamic_feed</span>
        <span (click)="navigateTo('injector')" class="description-subject">Injector & Dependency</span>
        It identifies the module's own components, directives, and pipes, making some of them public, through the exports property, so that external components can use them.
      </div>
    </div>
  </div>

  <div class="diagram-row" fxLayout="row" fxLayout.sm="column" fxLayoutGap="24px">
    <div class="diagram-tile" fxFlex="33%" fxFlex.lt-md="100%">
      <div class="diagram-svg">
        <arch-ng-app-viewer viewerId="app-arch" contentHierarchyKey="RoutingHierarchy"></arch-ng-app-viewer>
      </div>
      <div class="diagram-description">
        Module Structure
      </div>
    </div>

    <div class="diagram-tile" fxFlex="33%" fxFlex.lt-md="100%">
      <div class="diagram-svg">
        <!-- <arch-ng-app-viewer viewerId="component-hierarchy" contentHierarchyKey="ComponentHierarchy"></arch-ng-app-viewer> -->
      </div>
      <div class="diagram-description">
        Module Structure
      </div>
    </div>

    <div class="diagram-tile" fxFlex="33%" fxFlex.lt-md="100%">
      <div class="diagram-svg">
        <!-- <arch-ng-app-viewer viewerId="component-hierarchy" contentHierarchyKey="ComponentHierarchy"></arch-ng-app-viewer> -->
      </div>
      <div class="diagram-description">
        Module Structure
      </div>
    </div>
  </div>

</div>
