
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-arch-primary: mat-palette($mat-indigo);
$ng-arch-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-arch-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-arch-theme: mat-light-theme($ng-arch-primary, $ng-arch-accent, $ng-arch-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-arch-theme);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~ngx-toastr/toastr.css';

@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0px 0px 0px 0px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.arch-toast-tips {
  background-color: #8a8a8a;
  width: none;
  padding: 20px 20px 20px 50px;
  border-radius: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
