:host {
  display: block;
  height: 100%;
  width: 100%;
}

.close-button {
  position: absolute;
  bottom: 31px;
  left: 46%;
}

.help-architecture-content {
  font-size: 12px;
}

.helper-content {
  max-height: 83%;
}
